.logo-img{
  width: 30%;
}

img{
  max-height: 129px;
}
.amaranta{
	float:left;
}
.sheldom{
	float: left;
}
.buttom-group {
	background-color: #A499EF;
	border-radius: 2px;
	color:#ffffff;
	width: 80%;
	
	
div.secondary.callout.text-center{
  min-height: 242px;
}